<h1>Editing Student Subject Status</h1>

<%= render 'form', student_subject_status: @student_subject_status %>

<%= link_to 'Show', @student_subject_status %> |
<%= link_to 'Back', student_subject_statuses_path %>
