<h1>Editing Academic To Subject Relation</h1>

<%= render 'form', academic_to_subject_relation: @academic_to_subject_relation %>

<%= link_to 'Show', @academic_to_subject_relation %> |
<%= link_to 'Back', academic_to_subject_relations_path %>
