<p id="notice"><%= notice %></p>

<p>
  <strong>Name academic program:</strong>
  <%= @academic_program.name_academic_program %>
</p>

<%= link_to 'Edit', edit_academic_program_path(@academic_program) %> |
<%= link_to 'Back', academic_programs_path %>
