<h1>Editing Historical Student Scholarship</h1>

<%= render 'form', historical_student_scholarship: @historical_student_scholarship %>

<%= link_to 'Show', @historical_student_scholarship %> |
<%= link_to 'Back', historical_student_scholarships_path %>
